{{!-- Created by CTT --}}

{{#extend 'layout'}}

{{#content}}
<h3>{{title}}</h3>
<div class="table-responsive">
    <form action="refund" method="POST">
        <div class="form-group">
            <label>Mã giao dịch (vnp_TxnRef):</label>
            <input class="form-control" name="orderId">
        </div>
        <div class="form-group">
            <label>Số tiền hoàn:</label>
            <input class="form-control" name="amount">
        </div>
        <div class="form-group">
            <label>Kiểu hoàn tiền (vnp_TransactionType):</label>
            <select class="form-control" name="transType">
                <option value="02">Hoàn toàn phần</option>
                <option value="03">Hoàn một phần</option>
            </select>
        </div>
        <div class="form-group">
            <label>Thời gian tạo giao dịch (vnp_TransactionDate)</label>
            <input class="form-control" name="transDate" placeholder="yyyyMMddHHmmss">
        </div>
        <div class="form-group">
            <label>User thực hiện hoàn (vnp_CreateBy)</label>
            <input class="form-control" name="user">
        </div>
        <button class="btn btn-default" type="submit">Refund</button>
    </form>
</div>
<p>&nbsp;</p>
{{/content}}