/** Product infor **/
.product-detail-left {
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.details-product .details-pro {
	--block-spacing: 10px;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}
.title-product, .title-product a {
	font-weight: 700;
	font-size: 20px;
	color: var(--text-color)
}
@media (max-width: 767px) {
	.product-detail-left {
		padding: 0;
	}
	.title-product {
		font-size: 1.2rem;
	}
}
.details-pro .group-status .line {
	color: #999;
}
.details-pro .group-status {
	font-size: 14px;
}
@media (max-width: 575px) {
	.details-pro .group-status .line {
		display: none;
	}
}
.status_name, .status_name a {
	color: #007bff;
}
.details-product .details-pro .price-box {
	position: relative;
	margin: 15px 0 10px;
	background: #f1f1f1;
	border-radius: 4px;
	display: block;
}
.details-product .details-pro .product-badge {
	display: block;
}
.details-product .details-pro .product-price {
	font-size: 20px;
	color: var(--price-color);
	line-height: 24px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 700;
}
.details-product .details-pro .product-price-old {
	font-size: 16px;
}

.button_actions .btn_base {
	width: 100%;
}
.button_actions {
	display: flex;
	flex-wrap: wrap;
}
.button_actions .btn {
	transition: all 0.3s ease;
	font-weight: 700;
	text-decoration: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-flow: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 46px;
	font-size: 16px;
	line-height: 20px;
	padding: 5px 10px;
	line-height: 34px;
}
.button_actions .btn span {
	/*font-weight: 400;*/
	font-size: small;
	text-transform: uppercase;
}
.buynow{
	grid-column: 1 / -1;	
	background-color: var(--addtocart-bg);
	color: var(--addtocart-text-color);
}
.buynow:hover{
	color: var(--addtocart-text-color);
	opacity: .8;
}
.button_actions .btn-cart, .btn-installment, .quick-view-product .button_actions .btn-cart {
	width: calc(50% - 5px);
	border-color: var(--addtocart-bg);
	color: var(--addtocart-bg);
	background-color: #fff;
}
.button_actions .btn-cart:hover, .btn-installment:hover, .quick-view-product .button_actions .btn-cart:hover {
	background-color: var(--addtocart-bg);
	color: #fff;
}
.button_actions .btn-cart {
	margin-right: 5px;
}
 .btn-installment {
	 margin-left: 5px;
 }
.button_actions .btn:only-child, .button_actions .btn.is-full {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	text-transform: uppercase;
}
.button_actions .btn-cart strong {
	font-size: 16px;
}
.button_actions .btn-cart:hover, .btn-installment:hover {
	filter: brightness(1.2);
}
@media (max-width: 575px) {
	.button_actions .btn {
		min-width: 100%;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}
.soluong {
	grid-gap: 10px;
	align-items: center;
	grid-template-columns: 150px 1fr;
	margin-bottom: 20px;
}
.soluong:not(.hidden) {
	display: grid !important;
}
.soluong label {
	margin: 0;
	font-weight: bold;
}
#ega-sticky-addcart .soluong {
	margin-bottom: 0;
	grid-template-columns: 75px 1fr;
}
.soluong label {
	color: #727272;
	justify-content: flex-start;
}
.input_number_product, .custom-btn-number {
	border: none;
	display: flex;
	margin-bottom: 0;
	margin-top: 0;
	align-items: center;
}
button.btn.btn_num {
	border-radius: 0;
	padding: 4px;
	width: 46px;
	border: 1px solid #ced4da;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #8c9196;
}
button.btn.btn_num.num_1 {
	border-right: none;
	border-radius: 5px 0 0 5px;
}
#ega-sticky-addcart button.btn.btn_num {
	width: 40px;
	height: 40px;
}
#ega-sticky-addcart .prd_quantity {
	height: 40px;
}
button.btn.btn_num.num_2 {
		border-radius: 0 5px 5px 0;
	border-left: none;
}
.prd_quantity {
	border: 0;
	width: 55px !important;
	text-align: center;
	border-top: 1px solid #ced4da;
	border-bottom: 1px solid #ced4da;
	border-radius: 0;
	height: 46px;
}
.prd_quantity:focus {
	border-color: #ced4da;
}
.details-product .details-pro .price-box, #ega-sticky-addcart .price-box {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background: transparent;
	padding-left: 0;
	padding-right: 0;
	margin-top: calc(var(--block-spacing) * 2);
	column-gap: 4px;
}
#ega-sticky-addcart .price-box {
	border-top: none;
}
.details-product .price-box .label_product, #ega-sticky-addcart .label_product {
	border-radius: 999px;
	background: var(--label-background);
	color: var(--label-color);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	padding: 3px 8px;
	font-weight: bold;
	margin-left: 10px;
}
.product-price-old {
	color: #979797 !important;
	margin-left: 5px;
	font-size: 14px;
	font-weight: normal;
}
.save-price {
	font-size: 14px;
	width: 100%;
}
.save-price span {
	color: var(--price-color);
}
.details-product .quickview-info .price-box {
	margin-top: var(--block-spacing);
	padding-top: var(--block-spacing);
	padding-top: var(--block-spacing);
}
.quick-view-product .product-summary {
	padding: var(--block-spacing) 0;
}

.icon-button-play {
	width: 20px !important;
}
.product-promotion {
	padding: 10px;
	margin-bottom: 10px;
	border: 2px dashed #B00002;
	margin-top: 30px;
	position: relative
}
.product-promotion__heading {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    color: #B00002;
    background: #fff;
    position: absolute;
    top: -20px;
}
.product-promotion > ul, .product-promotion > div {
	    margin-bottom: 0;
    border-radius: 4px;
    padding: 8px 8px 8px 15px;
    list-style-position: inside;
    background: #fff;
    font-size: 14px;
  
}
.product-promotion ul li, .product-promotion > div > * {
	padding: 3px 0;
	margin: 0;
}
.product-specifications table {
	border-collapse: unset;
	border-spacing: 0;
}
.product-specifications table td {
	padding: 8px;
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}
.product-specifications table tr:nth-of-type(odd) {
	background-color: var(--body-background);
}
.product-specifications table tr:first-child td {
	border-top: 1px solid var(--border-color);
}
.product-specifications table tr td:first-child {
	border-left: 1px solid var(--border-color);
	width: 40%;
}
.product-specifications table tr:first-child td:first-child {
	border-top-left-radius: 8px;
}
.product-specifications table tr:first-child td:last-child {
	border-top-right-radius: 8px;
}
.product-specifications table tr:last-child td:last-child {
	border-bottom-right-radius: 8px;
}
.product-specifications table tr:last-child td:first-child {
	border-bottom-left-radius: 8px;
}
.product-hotline a {
font-weight: bold;
	color: var(--primary-color);
}
.details-product .product-promo-tag {
	margin-top: 5px;
	margin-bottom: 5px;
}
.details-product .product-summary{
	clear: both;
	padding-top: 10px;
}
@media (max-width: 767px) {
	.soluong {
    grid-template-columns: 120px 1fr;
	}
}

/*** buyXgetY ***/
.buyxgety-box {
  border: 0.5px dashed #A0A0A0;
  padding: 15px 20px;
  border-radius: 8px;
  margin-top: 15px;
}

.buyxgety-box .buyxgety-header {
  position: relative;
  margin: 0;
  color: #FF0017;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 18px;
  margin-bottom: 10px;
}

@media (min-width:1800px) {
  .buyxgety-box .buyxgety-header {
    font-size: 18px;
    padding-bottom: 20px;
  }

}

.buyxgety-box .buyxgety-header:after {
  position: absolute;
  content: "Chá»n má»™t trong nhá»¯ng lá»±a chá»n sau:";
  left: 0;
  bottom: 0;
  font-size: 13px;
  display: flex;
  align-items: center;
  color: #000000;
  font-weight: normal;
}

@media (min-width:1800px) {
  .buyxgety-box .buyxgety-header:after {
    font-size: 12px;
    height: 18px;
  }

}

@media (max-width:767px) {
  .buyxgety-box .buyxgety-header:after {
    display: none;
  }

}

@media (max-width:767px) {
  .buyxgety-box .buyxgety-header {
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 10px;
  }

}

.buyxgety-box .buyxgety-product-list .buyxgety_lists {
  max-height: 170px;
  overflow: auto;
}

.buyxgety-box .buyxgety-product-list .buyxgety_item {
  display: grid;
  grid-template-columns: 14px 44px 1fr;
  grid-gap: 8px;
  margin-bottom: 8px;
}

@media (min-width:1200px) {
  .buyxgety-box .buyxgety-product-list .buyxgety_item {
    margin-bottom: 12px;
  }

}

@media (max-width:767px) {
  .buyxgety-box .buyxgety-product-list .buyxgety_item {
    grid-template-columns: 21px 44px 1fr;
    margin-bottom: 20px;
  }

}

.buyxgety-box .buyxgety-product-list .buyxgety_item .buyxgety_checkbox {
  display: flex;
  align-items: center;
  position: relative;
}

@media (max-width:767px) {
  .buyxgety-box .buyxgety-product-list .buyxgety_item .buyxgety_checkbox {
    align-items: flex-start;
  }

}

.buyxgety-box .buyxgety-product-list .buyxgety_item .buyxgety_checkbox .ega-buyxgety-label {
  cursor: pointer;
}

.buyxgety-box .buyxgety-product-list .buyxgety_item .buyxgety_checkbox .ega-buyxgety-label .ega-buyxgety-checkbox {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #000000;
}

@media (max-width:767px) {
  .buyxgety-box .buyxgety-product-list .buyxgety_item .buyxgety_checkbox .ega-buyxgety-label .ega-buyxgety-checkbox {
    width: 21px;
    height: 21px;
    margin-top: 10px;
  }

}

.buyxgety-box .buyxgety-product-list .buyxgety_item .buyxgety_item_title {
  display: flex;
  font-size: 12px;
  align-items: center;
}

@media (min-width:1800px) {
  .buyxgety-box .buyxgety-product-list .buyxgety_item .buyxgety_item_title {
    font-size: 14px;
  }

}

@media (max-width:767px) {
  .buyxgety-box .buyxgety-product-list .buyxgety_item .buyxgety_item_title {
    font-size: 13px;
  }

}

.buyxgety-box .buyxgety-product-list .buyxgety_item .buyxgety_image img {
  margin: 0;
  max-width: 100%;
}

.buyxgety-box .buyxgety-product-list .buyxgety_item.gift-soldout {
  position: relative;
  filter: grayscale(1);
  cursor: not-allowed;
}

.buyxgety-box .buyxgety-product-list .buyxgety_item.gift-soldout:after {
  position: absolute;
  right: 0;
  top: 0;
  content: "QuĂ  táº·ng háº¿t hĂ ng";
  font-size: 12px;
  padding: 5px 15px;
  font-size: 12px;
  background: #eee;
}

@media (max-width:767px) {
  .buyxgety-box {
    padding: 15px 10px;
  }

}

/*** Combo ***/
#combo-program {
  max-height: 400px;
}

#combo-program .name-combo {
  margin: 0;
}

#combo-program .name-combo span {
  display: inline-block;
  color: #fb3d3d;
  font-weight: bold;
}

#combo-program .combo-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
}

#combo-program .combo-title b {
  color: #ff0707;
}

#combo-program .combo-w {
  border: 1px solid #e1e1e1;
  margin-bottom: 10px;
  padding: 10px 10px 10px 40px;
  position: relative;
}

#combo-program .combo-w:after {
  content: '\2714\fe0e';
  font-size: 16px;
  position: absolute;
  top: calc(50% - 11px);
  left: 11px;
  color: #fe8dbf;
  opacity: 0;
}

#combo-program .combo-w:before {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  position: absolute;
  top: calc(50% - 10px);
  left: 7px;
}

#combo-program .combo-w.checked {
  border: 1px solid #fe8dbf;
}

#combo-program .combo-w.checked:after {
  opacity: 1;
}

#combo-program .combo-w.checked:before {
  border: 1px solid #fe8dbf;
}

#combo-program table tr {
  margin-bottom: 3px;
}

#combo-program table label {
  font-weight: normal;
  font-size: 13px;
  display: block;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
}

#combo-program table label:after {
  content: "";
  display: table;
  clear: both;
}

#combo-program table label img {
  display: inline-block;
  width: 36px;
  float: left;
}

#combo-program table label p {
  display: inline-block;
  width: calc(100% - 50px);
  float: left;
  margin-bottom: 0px;
  padding-left: 10px;
}

#combo-program table label .discount-promotion-price b {
  color: #fa0303;
}

#combo-program table label .discount-promotion-price del {
  margin-left: 5px;
}

#combo-program table input {
  display: none;
}

#combo-program table input:checked + label {
  color: #000;
  background: #fff8f8;
}

#popupComboModal .modal-content {
  padding: 0px 20px 15px;
  border-radius: 5px;
  font-size: 1rem;
  overflow: hidden;
}

#popupComboModal .btn {
  font-size: 14px;
}

#popupComboModal .modal-body {
  padding: 1rem 0;
  max-height: 550px;
  overflow: auto;
}

#popupComboModal .modal-body .combo-item {
  position: relative;
  border: 1px solid #eee;
  padding: 12px 5px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

#popupComboModal .modal-body .combo-item .combo-name {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: bold;
}

#popupComboModal .modal-body .combo-item + .combo-item {
  margin-top: 12px;
}

#popupComboModal .modal-body .combo-item.actived {
  background: #EFF8F0;
  border-color: #2EB346;
}

#popupComboModal .modal-body .combo-item.actived:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 25px;
  background: #2EB346;
  right: 0;
  bottom: 0;
  content: "\2713";
  color: #fff;
  text-align: center;
  border-radius: 10px 0 10px 0;
}

#popupComboModal .modal-body .combo-item:hover {
  border-color: #2EB346;
}

#popupComboModal .modal-body .combo-item .product-title {
  font-size: 15px;
}

#popupComboModal .modal-body .combo-item .variant_title, #popupComboModal .modal-body .combo-item .combo-quantity {
  color: #979797;
  font-size: 12px;
}

#popupComboModal .modal-body .combo-item .price {
  font-size: 12px;
}

#popupComboModal .modal-body .combo-item .compare-price {
  font-size: 12px;
  text-decoration: line-through;
  color: #979797;
  margin-left: 2px;
}

#popupComboModal .modal-body .combo-product-item.sold-out {
  position: relative;
  filter: grayscale(1);
}

#popupComboModal .modal-body .combo-product-item.sold-out:after {
  position: absolute;
  right: 0;
  top: 0;
  content: "Háº¿t hĂ ng";
  padding: 5px 15px;
  font-size: 12px;
  background: #eee;
}

#popupComboModal .fa.fa-check {
  color: var(--success);
}

#popupComboModal .media-left.thumb_img {
  margin-right: 1.25rem;
}

#popupComboModal button.close {
  position: absolute;
  right: 15px;
  top: 9px;
}

#popupComboModal h4.title.right_title, #popupComboModal .modal-title {
  font-size: 1rem;
  display: flex;
  align-items: center;
  background: #EFF8F0;
  padding: 10px 20px;
  color: #2EB346;
  font-weight: normal;
  border-radius: 2px;
  margin-left: -20px;
  margin-right: -20px;
}

#popupComboModal h4.title.right_title svg, #popupComboModal .modal-title svg {
  margin-right: 4px;
}

#popupComboModal .checkout_button {
  background: var(--cta-color);
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
}

#popupComboModal .checkout_button:hover {
  filter: brightness(1.2);
}

#popupComboModal .media-body.body_content {
  font-size: 1rem;
  line-height: 1.3;
}

#popupComboModal .media-body.body_content .product-new-price {
  font-weight: 500;
}

#popupComboModal .thumb_img {
  margin-right: 10px;
  position: relative;
  border-radius: 0px;
  text-align: center;
  height: 100%;
  overflow: hidden;
  min-width: 70px;
  min-height: 70px;
  width: 70px;
}

#popupComboModal .product-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: initial;
  overflow: hidden;
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
}

#popupComboModal .count {
  color: #979797;
}

#popupComboModal .right_title {
  border-top: 1px solid #F0F1F2;
  padding-top: 20px;
}

#popupComboModal .cart-action {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-top: 25px;
  margin-top: 20px;
  border-top: 1px solid #F0F1F2;
}

#popupComboModal .cart-message {
  margin-top: 10px;
  color: #F44336;
  font-size: 14px;
}

@media (min-width:576px) {
  #popupComboModal .modal-dialog {
    max-width: 550px;
  }

}

@media (max-width:600px) {
  #popupComboModal {
    z-index: 99999;
  }

  #popupComboModal .modal-dialog {
    position: absolute;
    bottom: 0;
    margin: 0;
    top: auto !important;
    transform: none !important;
  }

  #popupComboModal .title.right_title {
    display: none;
  }

  #popupComboModal .modal-content {
    border-radius: 5px 5px 0 0;
  }

}
.swatch-element.soldout {
	opacity: .4;
	pointer-events: none;
}
.swatch-element.soldout:before {
	content: '';
	background: var(--primary-color);
	width: 100%;
	height: 1px;
	display: inline-block;
	position: absolute;
	top: 40%;
	transform: rotate(-40deg);
	z-index: 9;
}
.swatch-element.soldout:after {
	content: '';
	background: var(--primary-color);
	width: 100%;
	height: 1px;
	display: inline-block;
	position: absolute;
	top: 40%;
	transform: rotate(40deg);
	z-index: 9;
}

.aside-filter ul {
	padding-left: 0;
	list-style: none;
	margin: 0px;
}
aside.aside-item {
	padding-top: 15px;
}
@media (max-width: 991px) {
	.aside-content {
		overflow: auto;
 }
	.aside-content::-webkit-scrollbar {
		width: 3px;
 }
	.aside-content::-webkit-scrollbar-thumb {
		background-color: var(--primary-color);
		outline: 1px solid var(--primary-color);
 }
}
aside.aside-item + .aside-item {
	border-top: 1px dashed #eee;
	margin-top: 15px;
}
.aside-content .filter-item {
	position: relative;
	clear: left;
	font-size: 14px;
	padding: 0;
}
.aside-content .filter-item:last-child {
	border-bottom: none;
}
.aside-content .filter-item a {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.7;
	padding: 5px 20px 2px 0px;
}
.aside-content .filter-item .fa {
	cursor: pointer;
	display: inline;
}
.aside-content .filter-item .fa.fa-caret-right {
	right: auto;
	left: 0;
	top: 16px;
	text-align: left;
}
.aside-content .filter-item .dropdown-menu {
	width: 100%;
	border: 0;
	padding-left: 0px;
	box-shadow: none;
	margin-top: 0px;
	padding: 0px;
	position: static;
	background: none;
}
.aside-content .filter-item.active > .dropdown-menu {
	display: block;
}
.aside-content .filter-item:hover > a {
	color: #333;
	background-color: transparent;
}
.aside-content .filter-item ul > li:before {
	top: 17px;
	left: 15px;
}
.filter-container__selected-filter-item {
	background: transparent;
	padding: 6px 8px;
	margin-right: 4px;
	margin-top: 4px;
	border: 1px solid var(--primary-color);
	position: relative;
	overflow: hidden;
}
.filter-container__selected-filter-item a {
	color: #e85933;
	z-index: 1;
	position: relative;
	font-weight: 400;
}
.filter-container__selected-filter-item a:hover {
	text-decoration: none;
}
.filter-container__selected-filter-item a .fa {
	margin-left: 5px;
}
.filter-container__selected-filter-item:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	background: var(--primary-color);
	opacity: 0.1;
}
@media (max-width: 991px) {
	.sidebar {
		position: fixed;
		visibility: hidden;
		opacity: 0;
		z-index: -1;
 }
}

body#template-product {
	/**background-color: var(--body-background); **/
}
.danhgiasao .sapo-product-reviews-badge {
	cursor: pointer;
	min-height: 18px;
}
.product-detail-left .slickthumb_relative_product_1, .product-detail-left .large-image {
	float: left;
}
.product-detail-left .slickthumb_relative_product_1 {
	width: 100px;
	padding-right: 5px;
}
.product-detail-left .col_large_default {
	width: 100%;
	/*padding-left: 5px;*/
	margin-bottom: 30px;
}
.product-detail-left .col_large_full {
	width: 100%;
}
.large-image img {
	/* position: absolute; */
	top: 50%;
	left: 50%;
	/* transform: translate(-50%, -50%); */
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}
#gallery_1:not(.slick-slider) {
	display: flex;
	align-items: center;
	/*overflow: hidden;*/
	flex-wrap: wrap;
	gap: 16px;
}
#gallery_1:not(.slick-slider) .item{
	width: calc(50% - 8px);
	flex: 0 0 calc(50% - 8px);
	border: 1px solid #f2f2f2;
}
#gallery_1:not(.slick-slider) .item.item-first {
	width: 100%;
	flex: 0 0 100%;
	text-align: center;
}
#gallery_1:not(.slick-slider) img {
	content-visibility: initial !important;
	text-align: center;
}
#gallery_1:not(.slick-slider) img.lazyload:not(.loaded) {
	display: none;
}
#gallery_1 .slick-arrow {
	background: #fff;
	border: none;
}
#gallery_1 .icon-button-play {
	width: 64px !important;
}
#gallery_02 {
	/**.item.slick-slide.slick-current.slick-active{
	border-color: var(--primary-color);
}
	**/
}
#gallery_02:not(.slick-slider) {
	display: flex;
	align-items: center;
	overflow: hidden;
}
#gallery_02:not(.slick-slider) .icon-button-play {
	display: none;
}
#gallery_02:not(.slick-slider) .item {
	width: 102px;
	flex: 0 0 102px;
	border: 1px solid transparent;
	text-align: center;
	margin: auto;
}
@media (max-width: 767px) {
	#gallery_1:not(.slick-slider){
		gap: 0;
	}
	#gallery_1:not(.slick-slider) .item{
		flex: 0 0 100%;
		max-width: 100%;
	}
	#gallery_02:not(.slick-slider) .item {
		width: 80px;
		flex: 0 0 80px;
	}
}
#gallery_02:not(.slick-slider) .item + .item {
	margin-left: 10px;
}
#gallery_02:not(.slick-slider) img {
	max-height: 80px;
	object-fit: contain;
}
#gallery_02 .item.slick-slide.slick-slide {
	margin: 0 0 5px; 
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid transparent;
}
#gallery_02 .item.slick-slide.slick-current.slick-active {
	border-color: var(--primary-color);
}
#gallery_02 .item.slick-slide {
	position: relative;
	height: 142.5px;
}
#gallery_02 .item.slick-slide img {
	width: auto;
	max-height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 2px;
}
.fixed-layout .product-tabs{
		margin-top:30px
	}
.fixed-layout .product-tabs .container{
		padding:0
	}
@media(min-width: 992px){
	.fixed-layout .product-detail-left{
	}
	
}
@media(max-width: 767px){
	.product-detail-left .slickthumb_relative_product_1{
		display:none!important
	}
	.product-detail-left .col_large_default{
		width: 100%
	}
	
	.product-detail-left .slick-dots {
    display: flex !important;
    justify-content: center;
    height: auto;
    border-radius: 0;
    width: auto;
		margin: 0
	}
	.product-detail-left .slick-dots li {
    display: inline-block;
    width: 100%;
    display: -ms-flexbox !important;
    display: flex !important;
}
	.product-detail-left .slick-dots li button {
  
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 0;
    border: none;
    height: 4px;
}
	.product-detail-left .slick-dots li:not(.slick-active) button{
	    background: #efefef;
		    opacity: .5;

	
	}	
}

/** product right **/
.product-policises {
	font-size: 14px;
	display: flex;
	border-top: 1px dashed #ECECEC;
	justify-content: space-between;
font-size: 13px;
	column-gap: 5px;
}
.product-policises .media {
	flex: 1;
}
@media (max-width: 767px) {
	.product-policises {
		flex-direction: column;
	font-size: 14px;
	}
	.product-policises::-webkit-scrollbar {
		display: none;
	}
	.product-policises .media {
		flex: 0 0 100%;
		max-width: 100%;
		padding-top: 10px;
	}
}
.product-policises-wrapper {
	margin-top: var(--block-spacing);
	padding: var(--block-spacing) 0;
}
.product-policises .media > div:not(.media-body) {
	width: 24px;
	height: 24px;
}
#content {
	overflow: hidden;
	word-break: break-word;
}
#content img {
	max-width: 100% !important;
	height: auto !important;
}
#content iframe, #content video {
	max-width: 100% !important;
}
.product-content .heading-bar {
	border-bottom: 1px solid var(--primary-color);
	margin-bottom: 15px;
}
.product_getcontent {
	/*max-height: var(--content-height);*/
	/* max-height: 300px; */
	/* overflow: hidden; */
}
.ega-pro__seemore {
	position: relative;
}
.ega-pro__seemore.show:before {
	content: none;
}
.ega-pro__seemore:before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: 100%;
	height: 100px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 17%, #fff 93.12%);
}
/** Related pro **/

@media (max-width: 768px) {
	.product_related.row {
		flex-wrap: nowrap;
		overflow: auto;
	}
	.product_related.row::-webkit-scrollbar {
		display: none;
	}
	.product_related.row {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
	.product_related.row .col-12 {
		padding: 5px;
	}
}
#cr-addon-pro, .crbtn-modal.crbtn-modal---toast .crbtn-modal__body {
	font-size: 14px !important;
	line-height: 21px !important;
}
.crbtn-modal__header {
	font-size: 1rem !important;
	font-weight: 500 !important;
	line-height: 1.5 !important;
	color: var(--text-color) !important;
}
.crbtn-modal__left {
	border: none !important;
	border-radius: 0px !important;
}
.ega-cr-addon .ega-menu__item.disabled {
	opacity: 0.6 !important;
}
.bpr-products-module-heading {
	padding-top: 5px;
	border-bottom: 1px solid #eee;
}
.sapo-product-reviews-module .bpr-products-module-heading .bpr-products-module-title {
	padding-bottom: 10px !important;
}
@media (max-width: 991px) {
	#ega-sticky-addcart {
		display: none;
	}
}
#ega-sticky-addcart .productAnchor_horizonalNavs {
	align-items: center;
	background: #fff;
	top: 0 !important;
	transition: all 0.5s ease;
	z-index: 99;
	width: 100%;
	padding: 5px 0px;
}
#ega-sticky-addcart .productAnchor_horizonalNav {
	display: flex;
	align-items: center;
}
#ega-sticky-addcart .product_info_image {
	width: 100px;
	height: 100px;
	margin-right: 10px;
	position: relative;
}
#ega-sticky-addcart .product_info_image img {
	width: auto;
	max-height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
#ega-sticky-addcart .product_info_name {
	line-height: 1.1;
	line-height: 1.4;
	color: #191919;
	margin-right: 20px;
	font-size: 16px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 4px;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	white-space: initial;
	overflow: hidden;
	padding: 2px 0;
}
#ega-sticky-addcart .product-price {
	font-weight: bold;
	color: var(--price-color);
}
#ega-sticky-addcart .product_info_buttons {
	display: grid;
	margin-left: auto;
	align-items: center;
	grid-template-columns: 1fr 235px 190px;
	grid-gap: 15px;
}
#ega-sticky-addcart .product_info_buttons .input_number_product {
	margin: 0;
}
#ega-sticky-addcart .product_info_buttons .form-product {
	grid-column: 3;
}
#ega-sticky-addcart .btn_base {
	height: 40px;
	background: var(--cta-color);
	font-size: 14px;
	outline: none;
	box-shadow: none;
	padding: 3px 10px;
	color: #fff;
	line-height: 1.25;
}
#ega-sticky-addcart .product_info_buttons .btn.btn_traGop {
	margin-left: 10px;
	background: #e81313;
	color: #fff;
}
#ega-sticky-addcart .selector-wrapper label {
	display: none;
}
#ega-sticky-addcart .selector-wrapper select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	word-wrap: normal;
	border-radius: 5px;
	height: 30px;
	border-color: #ccc;
	margin: 0;
	width: 100%;
	padding: 0 4px;
	font-size: 14px;
	padding-right: 15px;
	background: none;
	border: 1px solid #ccc;
}
#ega-sticky-addcart .selector-wrapper {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 0px !important;
	/*max-width: 115px;*/
}
#ega-sticky-addcart .selector-wrapper:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 12px;
    right: 4px;
    border-top: 6px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
#ega-sticky-addcart .product_info_buttons .btn.action-buy span {
	display: block;
	width: 100%;
	text-align: center;
}
#ega-sticky-addcart .button_actions {
	margin-bottom: 0px;
}
.coupon_item {
	padding: 7px !important;
}
.coupon_item .coupon_body .coupon_title {
	font-size: 14px !important;
}
.coupon_item .coupon_body {
	padding: 5px 5px 5px 10px !important;
}
.coupon_item .coupon_body button span {
	line-height: 22px !important;
	height: 22px !important;
}
.coupon_item .coupon_body .coupon_desc {
	padding-bottom: 10px !important;
}
.flashsale__header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.details-product .flashsale {
	padding: 0;
	border-radius: 4px;
	margin-top: 30px;
}
.details-product .flashsale__title h5 {
	font-size: 14px;
	font-weight: 700;
	color: #F66566;
}
.details-product .flashsale__countdown-label {
	font-size: 14px;
	position: relative;
}
.flashsale__header,
.flashsale__product{
	padding: 5px 8px;
}
.details-product .flashsale__bottom{
	padding: 0px
}
.details-product .flashsale__bottom .flashsale__label{
	font-size: 14px;
}
.flashsale__product{
	background: var(--flashsale-bg);
	border-radius: 0 0 4px 4px;
}
.details-product .ega-badge-ctd__item + span {
	display: none;
}
.details-product .ega-badge-ctd__item {
	font-size: 13px;
}
.details-product .ega-badge-ctd > div:not(.ega-badge-ctd__colon) {
	width: 22px;
	height: 21px;
}
.details-product .flashsale__header{
	background: #FFEFEF;
	height: 34px;
	border-radius: 4px 4px 0 0;
}
.details-product .flashsale__countdown-wrapper{
	padding-top: 0;
}
@media (max-width: 575px) {
	.details-product .flashsale__title {
		text-align: center;
		margin-top: 0;
		margin-bottom: 0;
	}
	.details-product .flashsale__countdown-wrapper {
		flex-direction: row;
	}
	.details-product .flashsale__countdown-label {
		display: block!important;
	}
}
@media (max-width: 1024px) {
	.product-sidebar-title {
		display: flex;
		overflow: auto;
	}
	.item_product_main.product--media {
		margin-bottom: 0.75rem;
		flex: 0 0 40%;
	}
}
@media (max-width: 767px) {
	.product-sidebar-title {
		flex-wrap: wrap;
	}
	.item_product_main.product--media {
		flex: 0 0 100%;
	}
}
.filter-item-toggle {
	margin: auto;
	color: var(--primary-color);
}
@media (min-width: 768px) {
	.overflow-item:not(.show) {
		display: none;
	}
}
.filter-item-toggle .fas {
	transitions: all 0.3s ease-out;
}
.filter-item-toggle.show {
	display: inline-block;
}
.filter-item-toggle.show .fas {
	transform: rotate(180deg);
}
.pp_gallery {
	display: none !important;
}
#stock-notify-form {
	max-width: 400px;
}
#stock-notify-form .btn {
	font-size: 14px;
}
.stock-notify-title {
	color: var(--primary-color);
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 8px;
	display: block;
}
div#stock-notify {
	padding: 15px 20px;
	background: #eef2f8;
	border-radius: 4px;
	margin-bottom: 20px;
}
.product-trustbadge .title-menu {
	border-bottom: 1px dashed var(--border-color);
	padding-bottom: 10px;
}

.product-right > div:not(:first-of-type) {
	margin-top: 15px;
}
.product-related-blog h2 {
	border-radius: 6px 6px 0 0;
	padding: 11px;
}
.fb_iframe_widget_fluid_desktop {
	width: 100%!important;
}
@media(max-width: 320px){
	.product-detail-left .share-group{
		flex-wrap: wrap;
		/*align-items: flex-start !important;*/
		justify-content: left !important;
	}
	.product-detail-left .share-group .share-group__list{
		display: block;
		margin-top: 5px;
	}
}

.details-product .flashsale__product .flashsale__progressbar{
	height: 5px;
    line-height: 5px;
    margin: 5px 0;
    border-radius: 2px;
    margin-bottom: 0;
}

.details-product .flashsale__product{
	background: none;
	padding: 10px 8px;
}
.ega-share-box{
	display: flex;
	margin-top: 25px;
}
.ega-share-box > div{
	margin-right: 30px;
	
}
.ega-share-box .pd-ac-share{
	display: grid;
	grid-template-columns: 25px 1fr;
	grid-gap: 5px;
	align-items: center;
	cursor: pointer;
}
.ega-share-box > div .icon{
	font-size: 30px;
}
.ega-buy-together{
	margin-top: 30px;
}
.ega-buy-together .together-body{
	border: 1px solid #000;
    border-radius: 5px;
    margin-top: 18px;
    padding: 20px 20px 10px;
}
.together-products{
	display: flex;
}
.together-item{
	width: 120px;
	margin-right: 20px;
}
.icon-buy-plus{
	margin-right: 20px;
	display: flex;
	align-items: center;
}
.variant-box{
	margin-top: 20px;
}
.variant-box .variant-select-item{
	display: grid;
	grid-template-columns: 34px max-content;
	grid-gap: 5px;
	margin-bottom: 15px;
}
.variant-box .buy-check{
	grid-row: 1 / span 2;
}
.variant-box .buy-check .icon-check{
	position: relative;
	display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 2px;
	border: 1px solid;
}
.variant-box .buy-check .icon-check:after {
    border: 0 solid #e5e7eb;
    border-bottom-width: 2px;
    border-color: #fff;
    border-right-width: 2px;
    content: "";
    display: none;
    height: 12px;
    left: 9px;
    position: absolute;
    top: 5px;
    transform: translate(0,0) rotate(45deg) skewX(0) skewY(0) scaleX(1) scaleY(1);
    width: 6px;
}
.variant-box .buy-check input:checked ~ .icon-check{
	background: #000;
}
.variant-box .buy-check input:checked ~ .icon-check:after {
	display: block;
}
.variant-box .main-product .buy-check {
    opacity: .4;
    pointer-events: none;
}
.variant-box .pd-name{
	grid-column: 2;
}
.variant-box .togeter-variants{
	padding-right: 25px;
	grid-column: 2;
	color: #666;
}
.variant-box .togeter-variants select{
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	border: none;
}
.together-action{
	border-top: 1px solid #eee;
	padding-top: 20px;
}
.together-total span{
	color: #da3f3f;
    font-size: 24px;
    font-weight: 700;
}
.buy-multi-item {
	grid-column: 1 / -1;	
	background-color: var(--addtocart-bg);
	color: var(--addtocart-text-color);
}
.buy-multi-item:hover {
	color: var(--addtocart-text-color);
	opacity: .8;
}
.slider-box{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 60px;
	margin-bottom: 20px;
}
.size-heading{
	margin-bottom: 20px;
}
.slider-box .slider-title{
	grid-column: 1 / span 2;
}
.slider-input{
	-webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: 0;
    opacity: .7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#result_size{
	font-weight: bold;
	margin-top: 25px;
}
.open-size-modal{
        text-decoration: underline !important;
    font-weight: normal;
    font-size: 14px;
}
.swatch-div .swatch + .swatch, .swatch-div .open-size-modal + .swatch {
	margin-top: 1rem;
}

/** product tab **/
.product-tabs .tabs  {
	justify-content: center;
	margin-bottom: 45px;
	gap: 30px;
	border-bottom: 1px solid #eee
}
.product-tabs  .tabs li{
	white-space: normal
}
.accordion-button{
	display:none;
	font-size: 20px;
	margin-bottom: 20px;
	cursor: pointer
}
.details-pro .product-tabs .tabs-title {
	 display: none !important;
}
.details-pro{
	position: relative;
}
.details-pro .box-sticky{
	position: sticky;
	top: 80px;
}
 .details-pro .accordion-button {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
}
 .details-pro .accordion-item {
	 display: block !important;
	 background: #fff
}
 .details-pro .accordion-item .accordion-content {
	 max-height: 0;
	 overflow: hidden;
	 		opacity: 0;
	 transition: opacity 0.2s ease-out, max-height 0.3s ease-out;
}
 .details-pro .accordion-item.current .accordion-content {
	 max-height: var(--max-height, none);
	 overflow: visible;
	 opacity: 1;
	 	 margin-bottom: 30px;

}
 .details-pro .accordion-button i {
	 transition: transform 0.3s ease-out;
}
 .details-pro .accordion-item.current .accordion-button i {
	 transform: rotate(180deg);
}
 
@media(max-width: 767px){

	.product-tabs .tabs-title {
		display: none!important
	}
	.accordion-button{
	    display: flex;
    justify-content: space-between;
    align-items: center;
	}
	.accordion-item{
		display: block!important
	}
	.accordion-item .accordion-content{
	 max-height: 0;
	 overflow: hidden;
	 		opacity: 0;
	 transition: opacity 0.2s ease-out, max-height 0.3s ease-out;

	}
	.accordion-item.current .accordion-content{
				max-height: var(--max-height, none);
		overflow: visible;
			 margin-bottom: 30px;

		opacity: 1

	}
	.accordion-button i{
		transition: transform .3s ease-out;
	}
	.accordion-item.current .accordion-button i {
		transform: rotate(180deg)
	}
}

/** Review section **/
.card h2.starbap-rev-widg__title {
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    line-height: 1.2;
}
.card .title-bl h2 {
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    line-height: 1.2;
}
.card .starbap-rev-widg {
    margin: 0;
    padding: 0;
    border: none;
}
@media (max-width: 767px) {
	.hrv-product-reviews-summary{
		width: 100%!important;
	}
	.product-reviews-summary-actions{
		float: none!important
	}
	.hrv-product-reviews-form{
		width: 100%!important;
		margin-top: 1rem
	}
}
.product-images .item.hidden{
	width: 0!important
}
#hrv-product-reviews .title-bl{
	display: none;
}
.section-review , .section-comments{
	margin-top: 30px;
}

.section-review.section-mb, .section-comments.section-mb{
	display: none;
}

.section-review .box-content h2, .section-comments .box-content h2{
    font-size: 24px;
    padding-bottom: 20px;
    border-bottom: 2px solid #0a0a0a;
    margin-bottom: 20px;
}
@media(max-width: 991px){
	.section-review , .section-comments{
	 display: none;
	}
	
	.section-review.section-mb, .section-comments.section-mb{
		display: block;
	}
	
}



.form_product_content  .wishlist-button{
margin: 15px 0; 
}
.form_product_content .wishlist-button .prd-btn-wishlist{
    font-size: 16px;
    color: #000;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s linear;
}
.form_product_content .wishlist-button .prd-btn-wishlist:hover{
    color: #ff0000;
}
.form_product_content .wishlist-button .prd-btn-wishlist svg{
    width: 20px;
    height: 20px;
}
































